<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_3"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_3"
        android:supportsRtl="true"
        android:theme="@style/Theme.SwasthyaMitra"
        tools:targetApi="31">
        <activity
            android:name=".EditDoctorsNoteActivity"
            android:exported="false" />
        <activity
            android:name=".ListDoctersNoteActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorsNoteActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorsNoteRecyclerView"
            android:exported="false" />
        <activity
            android:name=".MedicineReminderListActivity"
            android:exported="false" />
        <activity
            android:name=".EditAllergiesActivity"
            android:exported="false" />
        <activity
            android:name=".EditNoteActivity"
            android:exported="false" />
        <activity
            android:name=".EditFamilyHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".EditUserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".EditMedicalHistoryActivity"
            android:exported="false" />

        <receiver
            android:name=".ReminderReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".WellnessActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".StockAlertActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".PrescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".PastMedineActivity"
            android:exported="false" />
        <activity
            android:name=".MedicineReminderActivity"
            android:exported="false" />
        <activity
            android:name=".MedicineInventoryTrackerActivity"
            android:exported="false" />
        <activity
            android:name=".MedicationManagementActivity"
            android:exported="false" />
        <activity
            android:name=".MedicalHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".MedicalCardActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".HealthProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".FamilyHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".EmergencyToolsActivity"
            android:exported="false" />
        <activity
            android:name=".EmergencyProcedureActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorsAndAppointmentsActivity"
            android:exported="false" />
        <activity
            android:name=".CurrentMedicineActivity"
            android:exported="false" />
        <activity
            android:name=".AppointmentsActivity"
            android:exported="false" />
        <activity
            android:name=".AllergiesActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>